<?xml version="1.0"?>
<config>
	<sections>
		<payment>
			<groups>
				<wpopwechat translate="label" module="wpopwechat">
					<label>Wechat Payment Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>0</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
					 	<active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
						<title translate="label,comment">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</title>
						<description translate="label,comment">
							<label>Description</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</description>
						
						<app_id translate="label,comment">
							<label>APP ID</label>
							<comment>
								<![CDATA[<a target="_blank" href="http://mp.wordpressopen.com">register and get app id</a>]]>
							</comment>
							<frontend_type>text</frontend_type>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</app_id>
						<app_secret translate="label,comment">
							<label>APP Secret</label>
							<comment>
								<![CDATA[<a target="_blank" href="http://mp.wordpressopen.com">register and get app secret</a>]]>
							</comment>
							<frontend_type>text</frontend_type>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</app_secret>
						<transaction_url translate="label,comment">
							<label>Transaction Url</label>
							<frontend_type>text</frontend_type>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</transaction_url>
						<order_status translate="label">
                            <label>New Order Status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status>
						<sort_order translate="label">
                            <label>Sort order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>17</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sort_order>
					</fields>
				</wpopwechat>
			</groups>
		</payment>
	</sections>
</config>